---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Not Found">
  <div class="not-found w-4/5 mx-auto flex items-center flex-col">
    <img src="/images/404.gif" class="w-250 h-250" alt="not-found" />
  </div>
</MainLayout>
