---

---

<nav class="main-nav w-full">
  <div class="flex justify-between py-4 w-4/5 mx-auto">
    <div class="brand-info">
      <a href="/" class="flex items-center space-x-3">
        <img src="/images/panther.png" alt="" width={50} height={50} />
        <h1
          class="text-3xl font-extrabold bg-gradient-to-tr from-cyan-700 via-teal-500 to-blue-700 inline-block text-transparent bg-clip-text"
        >
          Ojisaleem
        </h1>
      </a>
    </div>
    <ul class="flex space-x-16 items-center font-bold">
      <li>
        <a
          href="/"
          class="bg-gradient-to-tr from-cyan-700 via-teal-500 to-blue-700 inline-block text-transparent bg-clip-text"
          >Home</a
        >
      </li>
      <li>
        <a
          href="/about"
          class="bg-gradient-to-tr from-cyan-700 via-teal-500 to-blue-700 inline-block text-transparent bg-clip-text"
          >About</a
        >
      </li>
      <li>
        <a
          href="/projects"
          class="bg-gradient-to-tr from-cyan-700 via-teal-500 to-blue-700 inline-block text-transparent bg-clip-text"
          >Projects</a
        >
      </li>
    </ul>
  </div>
</nav>
