---
import { PORTO_EMAIL } from "../socials";
---

<div class="say-hi-mail-link">
  <a
    href={"mailto:" + PORTO_EMAIL}
    class="p-3 bg-gradient-to-r from-sky-400 to-blue-700 mt-2 rounded inline-block w-auto text-lg font-bold"
    >Say Hi!</a
  >
</div>
