---
import { SITE_TITLE } from "../consts";
const { title = "Ojisaleem" } = Astro.props;
import NavBar from "../components/NavBar.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{SITE_TITLE} | {title}</title>
  </head>
  <body class="bg-slate-950 text-white">
    <NavBar />
    <slot />
    <Footer />
  </body>
</html>
